.spinnerH{
    height: 90%;
}
.breadbubble-element{
    order: 1; 
    height: 140px; 
}
.dropDown{
    width: 252px;
    max-height: 475px;
}

.bubble-element{
    z-index: 2;  
    width: calc(100% - 20px);
    white-space: pre-wrap; 
    overflow: visible; word-break: break-word; 
    line-height: 1.4; 
}

.formWidth{
    min-width: 22rem;
}


