.spinnerH{
    height: 90%;
}
.breadbubble-element{
    order: 1; 
    height: 125px; 
}
.bubble-element{
    z-index: 2;  
    width: calc(100% - 20px);
    white-space: pre-wrap; 
    overflow: visible; word-break: break-word; 
    line-height: 1.4; 
}
.rounded-full.cyan {
    width: 40rem;
    height: 49rem;
    background: radial-gradient(50% 50% at 50% 50%, rgba(101, 31, 255, .15) 0, hsla(0, 0%, 100%, 0) 100%);
    z-index: -1;
}

.rounded-full.red {
    width: 40rem;
    height: 40rem;
    background: radial-gradient(50% 50% at 50% 50%, #26e35f5d 0, hsla(0, 0%, 100%, 0) 100%);
    z-index: -1;
}